
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Askbootstrap">
      <meta name="author" content="Askbootstrap">
      <title>E-Guard Agents de Sécurités</title>
   </head>
   <body>
      <!-- Navbar -->
      <header>
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
               
               <a><%= link_to image_tag("/images/e-guard", alt: "Brand"), root_path, :class=>'navbar-brand text-success logo' %><strong>E</strong>-Guard</a>
               
               <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0 margin-auto">
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        AGENTS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
                           <a class="dropdown-item" href="index1.html">Agent De Surveillance</a>
                           <a class="dropdown-item" href="index2.html">Agent De Sécurité</a>
                           <a class="dropdown-item" href="index3.html">Agent Sécurité Incendie</a>
                           <a class="dropdown-item" href="index1.html">Agent de Gardiennage</a>
                           <a class="dropdown-item" href="index1.html">Agent De Proximité</a>
                           <a class="dropdown-item" href="index1.html">Agent Cynophile</a>
                        </div>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
                           <a class="dropdown-item" href="properties-grid.html">Devis</a>
                           <a class="dropdown-item" href="properties-list.html">Selection</a>
                           <a class="dropdown-item" href="property-single-slider.html">Pré-réservation</a>
                           <a class="dropdown-item" href="property-single-gallery.html">Exigences</a>
                        </div>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Agence
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
                           <a class="dropdown-item" href="agency-list.html">Liste Agence</a>
                           <a class="dropdown-item" href="agency-profile.html">Profile Agence</a>
                           <a class="dropdown-item" href="agents.html">Agents</a>
                           <a class="dropdown-item" href="agent-profile.html">Prestataires</a>
                        </div>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Blog
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
                           <a class="dropdown-item" href="blog.html">Blog</a>
                           <a class="dropdown-item" href="blog-single.html">Formations SSIAP</a>
                        </div>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mon Compte
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
                           <a class="dropdown-item" href="user-profile.html">Profile-Agent</a>
                           <a class="dropdown-item" href="social-profiles.html">Les Missions</a>
                           <a class="dropdown-item" href="my-properties.html">Dashboard</a>
                        </div>
                     </li>
                  <div class="my-3 my-lg-3">
                     <ul class="list-inline main-nav-right">
                        <li class="list-inline-item">
                           <a class="btn btn-link btn-sm" href="login.html">Se Connecter</a>
                        </li>
                        <li class="list-inline-item">
                           <a class="btn btn-success btn-sm" href="register.html">Se Déconncter</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </nav>
      </header>
      <!-- End Navbar -->
      <!-- Main Slider With Form -->
      <section class="osahan-slider">
         <div id="map"></div>
         <div class="slider-form inner-page-form map-slider-form">
            <div class="container">
               <form>
                  <div class="row no-gutters">
                     <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="input-group">
                           <div class="input-group-addon"><i class="material-icons">my_location</i></div>
                           <select class="form-control select2" name="location">
                              <option disabled="" selected="">Ville</option>
                              <option>Nantes</option>
                              <option>Angers</option>
                              <option>La Baule</option>
                              <option>Pornic</option>
                              <option>Rennes</option>
                              <option>Tours</option>
                              <option>La Rochelle</option>
                              <option>Niort</option>
                              <option>La Roches-sur-Yon</option>
                              <option>St-Nazaire</option>
                              <option>Carquefou</option>
                              <option>Vertou</option>
                              <option>St-sebastien</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="input-group">
                           <div class="input-group-addon"><i class="material-icons">Language</i></div>
                           <select class="form-control select2" name="location">
                              <option disabled="" selected="">Langue</option>
                              <option>Français</option>
                              <option>Arabe</option>
                              <option>Espagnol</option>
                              <option>Chinois</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="input-group">
                           <div class="input-group-addon"><i class="material-icons">shedule</i></div>
                           <select class="form-control select2" name="location">
                              <option disabled="" selected="">Spécialités</option>
                              <option>Agent-type</option>
                              <option value="">Agent de surveillance</option>
                              <option value="">Agent de Sécurité</option>
                              <option value="">Agent de Proximité</option>
                              <option value="">Agent de Guardiennage</option>
                              <option value="">Agent Cynophile</option>
                              <option value="">Agent Diplomatique</option>
                              <option value="">Agent de Sécurité Incendie</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="input-group">
                           <div class="input-group-addon"><i class="material-icons">person_pin_circle</i></div>
                           <select class="form-control select2" name="location">
                              <option disabled="" selected="">Min Rayon</option>
                              <option>1 km</option>
                              <option>2 km</option>
                              <option>3 km</option>
                              <option>4 km</option>
                              <option>5 km</option>
                              <option>6 km</option>
                              <option>7 km</option>
                              <option>8 km</option>
                              <option>9 km</option>
                              <option>10 km</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="input-group">
                           <div class="input-group-addon"><i class="material-icons">wc</i></div>
                           <select class="form-control select2" name="location">
                              <option disabled="" selected="">Min Rayon</option>
                              <option>100m</option>
                              <option>200m</option>
                              <option>300m</option>
                              <option>400m</option>
                              <option>500m</option>
                              <option>600m</option>
                              <option>700m</option>
                              <option>800m</option>
                              <option>900m</option>
                              <option>1000m</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="input-group">
                           <div class="input-group-addon"><i class="material-icons">my_location</i></div>
                           <select class="form-control select2" name="location">
                              <option disabled="" selected="">Max Rayon</option>
                              <option>1000m</option>
                              <option>2000m</option>
                              <option>3000m</option>
                              <option>4000m</option>
                              <option>5000m</option>
                              <option>6000m</option>
                              <option>7000m</option>
                              <option>8000m</option>
                              <option>9000m</option>
                              <option>10000m</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="input-group">
                           <div class="input-group-addon"><i class="material-icons">group</i></div>
                           <select class="form-control select2" name="location">
                              <option disabled="" selected="">Nb Agent</option>
                              <option>Nb Agent</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="input-group">
                           <button type="submit" class="btn btn-success btn-block no-radius font-weight-bold">Chercher</button>   
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </section>
      <!-- End Main Slider With Form -->
      <!-- Properties List -->
      <section class="section-padding">
         <div class="section-title text-center mb-5">
            <h2>Agents Vérifié</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-4">
                  <div class="card card-list">
                     <a href="#">
                        <span class="badge badge-success">Disponible</span>
                        <%= image_tag "/images/agent1.jpg", :class=> "card-img-top", :alt=> "Card image cap"%>
                        <div class="card-body">
                           <h5 class="card-title">Agent de Sécurité Incendie</h5>
                           <h6 class="card-subtitle mb-2 text-muted"><i class="material-icons">my_location</i> Nantes</h6>
                           <h2 class="text-success mb-0 mt-3">
                              €43,000 <small>/heure</small>
                           </h2>
                        </div>
                        <div class="card-footer">
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>1</strong></span>
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>2</strong></span>
                           <span><i class="mdi mdi-move-resize-variant"></i> Rayon : <strong>30 km</strong></span>
                        </div>
                     </a>
                  </div>
               </div>
<div class="col-lg-4 col-md-4">
                  <div class="card card-list">
                     <a href="#">
                        <span class="badge badge-secondary">Indisponible</span>
                        <%= image_tag "/images/agent1.jpg", :class=> "card-img-top", :alt=> "Card image cap"%>
                        <div class="card-body">
                           <h5 class="card-title">Agent de Proximité</h5>
                           <h6 class="card-subtitle mb-2 text-muted"><i class="material-icons">my_location</i> Nantes</h6>
                           <h2 class="text-success mb-0 mt-3">
                              €43,000 <small>/heure</small>
                           </h2>
                        </div>
                        <div class="card-footer">
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>1</strong></span>
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>2</strong></span>
                           <span><i class="mdi mdi-move-resize-variant"></i> Rayon : <strong>30 km</strong></span>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="card card-list">
                     <a href="#">
                        <span class="badge badge-success">Disponible</span>
                        <%= image_tag "/images/agent1.jpg", :class=> "card-img-top", :alt=> "Card image cap"%>
                        <div class="card-body">
                           <h5 class="card-title">Agent de Surveillance</h5>
                           <h6 class="card-subtitle mb-2 text-muted"><i class="material-icons">my_location</i> Nantes</h6>
                           <h2 class="text-success mb-0 mt-3">
                              €43,000 <small>/heure</small>
                           </h2>
                        </div>
                        <div class="card-footer">
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>1</strong></span>
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>2</strong></span>
                           <span><i class="mdi mdi-move-resize-variant"></i> Rayon : <strong>30 km</strong></span>
                        </div>
                     </a>
                  </div>
               </div>
            <div class="row">
               <div class="col-lg-4 col-md-4">
                  <div class="card card-list">
                     <a href="#">
                        <span class="badge badge-danger">Disponible</span>
                        <%= image_tag "/images/agent1.jpg", :class=> "card-img-top", :alt=> "Card image cap"%>
                        <div class="card-body">
                           <h5 class="card-title">Agent de Surveillance</h5>
                           <h6 class="card-subtitle mb-2 text-muted"><i class="material-icons">my_location</i> Nantes</h6>
                           <h2 class="text-success mb-0 mt-3">
                              €43,000 <small>/heure</small>
                           </h2>
                        </div>
                        <div class="card-footer">
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>1</strong></span>
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>2</strong></span>
                           <span><i class="mdi mdi-move-resize-variant"></i> Rayon : <strong>30 km</strong></span>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="card card-list">
                     <a href="#">
                        <span class="badge badge-success">Disponible</span>
                        <%= image_tag "/images/agent1.jpg", :class=> "card-img-top", :alt=> "Card image cap"%>
                        <div class="card-body">
                           <h5 class="card-title">Agent de Surveillance</h5>
                           <h6 class="card-subtitle mb-2 text-muted"><i class="material-icons">my_location</i> Nantes</h6>
                           <h2 class="text-success mb-0 mt-3">
                              €43,000 <small>/heure</small>
                           </h2>
                        </div>
                        <div class="card-footer">
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>1</strong></span>
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>2</strong></span>
                           <span><i class="mdi mdi-move-resize-variant"></i> Max-Rayon : <strong>30 km</strong></span>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="card card-list">
                     <a href="#">
                        <span class="badge badge-success">Disponible</span>
                        <%= image_tag "/images/agent1.jpg", :class=> "card-img-top", :alt=> "Card image cap"%>
                        <div class="card-body">
                           <h5 class="card-title">Agent de Surveillance</h5>
                           <h6 class="card-subtitle mb-2 text-muted"><i class="material-icons">my_location</i> Nantes</h6>
                           <h2 class="text-success mb-0 mt-3">
                              €43,000 <small>/heure</small>
                           </h2>
                        </div>
                        <div class="card-footer">
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>1</strong></span>
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>2</strong></span>
                           <span><i class="mdi mdi-move-resize-variant"></i> Max-Rayon : <strong>30 km</strong></span>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Properties List -->
      <!-- Properties by City -->
      <section class="section-padding bg-white">
         <div class="section-title text-center mb-5">
            <h2>Property By City</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-md-8">
                  <div class="card bg-dark text-white card-overlay">
                     <a href="#">
                        <img class="card-img" src="img/overlay/1.png" alt="Card image">
                        <div class="card-img-overlay">
                           <h3 class="card-title text-white">New York</h3>
                           <p class="card-text text-white">16 Properties</p>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="card bg-dark text-white card-overlay">
                     <a href="#">
                        <img class="card-img" src="img/overlay/2.png" alt="Card image">
                        <div class="card-img-overlay">
                           <h3 class="card-title text-white">Los Angeles</h3>
                           <p class="card-text text-white">265 Properties</p>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-4 col-md-4">
                  <div class="card bg-dark text-white card-overlay">
                     <a href="#">
                        <img class="card-img" src="img/overlay/3.png" alt="Card image">
                        <div class="card-img-overlay">
                           <h3 class="card-title text-white">Chicago</h3>
                           <p class="card-text text-white">620 Properties</p>
                        </div>
                     </a>
                     .    
                  </div>
               </div>
               <div class="col-lg-8 col-md-8">
                  <div class="card bg-dark text-white card-overlay">
                     <a href="#">
                        <img class="card-img" src="img/overlay/4.png" alt="Card image">
                        <div class="card-img-overlay">
                           <h3 class="card-title text-white">Philadelphia</h3>
                           <p class="card-text text-white">28 Properties</p>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Properties by City -->
      <!-- Trusted Agents -->
      <section class="section-padding">
         <div class="section-title text-center mb-5">
            <h2>Trusted Agents</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-4">
                  <div class="agents-card text-center">
                     <%= image_tag "/images/agent4.jpeg", :class=> "img-fluid mb-4"%>
                     <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                     <h6 class="mb-0 text-success">- Oullami Mohamed</h6>
                     <small>Directeur Génral</small>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="agents-card text-center">
                     <%= image_tag "/images/agent4.jpeg", :class=> "img-fluid mb-4"%>
                     <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                     <h6 class="mb-0 text-success">- Oullami Mohamed</h6>
                     <small>Directeur Génral</small>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="agents-card text-center">
                     <%= image_tag "/images/agent4.jpeg", :class=> "img-fluid mb-4"%>
                     <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                     <h6 class="mb-0 text-success">- Oullami Mohamed</h6>
                     <small>Directeur Génral</small>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Trusted Agents -->
      <!-- Blog -->
      <section class="section-padding border-top">
         <div class="section-title text-center mb-5">
            <h2>Blog</h2>
            <p>Lorem ipsum dolor sit amet.</p>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-4">
                  <div class="card blog-card">
                     <a href="#">
                        <img class="card-img-top" src="img/blog/1.png" alt="Card image cap">
                        <div class="card-body">
                           <span class="badge badge-success">House/Villa</span>
                           <h6>Possimus aut mollitia eum ipsum</h6>
                           <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                        </div>
                        <div class="card-footer">
                           <p class="mb-0"><img class="rounded-circle" src="img/user/3.jpg" alt="Card image cap"> <strong>Rahul Yadav</strong> On October 03, 2018</p>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="card blog-card">
                     <a href="#">
                        <img class="card-img-top" src="img/blog/2.png" alt="Card image cap">
                        <div class="card-body">
                           <span class="badge badge-danger">Shop/Showroom</span>
                           <h6>Consectetur adipisicing elit</h6>
                           <p class="mb-0">Cnsectetur ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                        </div>
                        <div class="card-footer">
                           <p class="mb-0"><img class="rounded-circle" src="img/user/2.jpg" alt="Card image cap"> <strong>Rahul Yadav</strong> On October 05, 2018</p>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="card blog-card">
                     <a href="#">
                        <img class="card-img-top" src="img/blog/3.png" alt="Card image cap">
                        <div class="card-body">
                           <span class="badge badge-info">Industrial Building</span>
                           <h6>Fugiat odio officiis odit</h6>
                           <p class="mb-0">Mollitia ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                        </div>
                        <div class="card-footer">
                           <p class="mb-0"><img class="rounded-circle" src="img/user/1.jpg" alt="Card image cap"> <strong>Rahul Yadav</strong> On October 06, 2018</p>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Blog -->
      <!-- Join Team -->
      <section class="section-padding bg-dark text-center">
         <h2 class="text-white mt-0">Join our professional team & agents<br>to start selling your house</h2>
         <p class="text-white mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
         <button type="button" class="btn btn-success">Contact Us</button> <button type="button" class="btn btn-outline-success">Read More</button>
      </section>
      <!-- End Join Team -->
      <!-- Footer -->
      <section class="section-padding footer bg-white">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-3">
                  <h4 class="mb-5"><a class="text-success logo" href="index.html"><i class="mdi mdi-home-map-marker"></i> <strong>Infinitydev44</strong></a></h4>
                  <p>157 rue du croissant, Nantes<br>Loire-Atlantique, France 44300</p>
                  <p class="mb-0"><a class="text-dark" href="#">+33 07 67 03 68 48</a></p>
                  <p class="mb-0"><a class="text-success" href="#">infinitydev44@gmail.com</a></p>
                  <p class="mb-0"><a class="text-info" href="#">www.eguard.herokuapp.com.com</a></p>
               </div>
               <div class="col-lg-2 col-md-2">
                  <h6 class="mb-4">COMPANY</h6>
                  <ul>
                  <li><a href="#">A propos</a></li>
                  <li><a href="#">Carière</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Properties</a></li>
                  <li><a href="#">Contact</a></li>
                  <ul>
               </div>
               <div class="col-lg-2 col-md-2">
                  <h6 class="mb-4">LEARN MORE</h6>
                  <ul>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Account</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Blog</a></li>
                  <ul>
               </div>
               <div class="col-lg-4 col-md-4">
                  <h6 class="mb-4">NEWSLETTER</h6>
                  <div class="input-group">
                     <input type="text" class="form-control" placeholder="Email Address..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                     <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i class="mdi mdi-arrow-right"></i></button>
                     </div>
                  </div>
                  <h6 class="mb-4 mt-5">GET IN TOUCH</h6>
                  <div class="footer-social">
                     <a href="#"><i class="mdi mdi-facebook"></i></a>
                     <a href="#"><i class="mdi mdi-twitter"></i></a>
                     <a href="#"><i class="mdi mdi-instagram"></i></a>
                     <a href="#"><i class="mdi mdi-google"></i></a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Footer -->
      <!-- Copyright -->
      <section class="pt-4 pb-4 text-center">
         <p class="mt-0 mb-0">© Copyright 2018 Infinitydev44. All Rights Reserved</p>
         <small class="mt-0 mb-0">
         Made with <i class="mdi mdi-heart text-danger"></i>	by 
         <a class="text-dark" target="_blank" href="https://askbootstrap.com/">Ask Bootstrap</a>
         </small>
      </section>
      <%= render 'map'%>
   </body>
</html>
