   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>E-Guard Agents de Sécurités</title>
   </head>

   <body>
       <!--<<%= render 'layouts/alerts'%>-->
       <%= render 'layouts/find-form'%>
       <%= render "layouts/slidebar"%>
       <%= render "layouts/agent-list"%>
       <%= render 'layouts/agent-by-city'%>
       <%= render 'layouts/fondateur'%>
       <%= render 'layouts/blog'%>
       <%= render 'layouts/contact-team'%>
   </body>
<%= render 'layouts/footer'%>
<%= render 'layouts/copyright'%>