            <!-- Inner Header -->
      <section class="section-padding bg-dark inner-header">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <h1 class="mt-0 mb-3 text-white">About Us</h1>
                  <div class="breadcrumbs">
                     <p class="mb-0 text-white"><%= link_to "Home", root_path, :class=> "text-white"%>  /  <span class="text-success">About Us</span></p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Inner Header -->
      <!-- About -->
      <section class="section-padding bg-white">
         <div class="container">
            <div class="row">
               <div class="pl-4 col-lg-5 col-md-5 pr-5" style="top:55px;">
                  <%= image_tag "chart.png", :class=> "card-img-fluid", :alt=> "Card image cap"%>
                  <h6>Le secteur de la sécurité comporte plusieurs activités, classées par l’Insee en trois sous-secteurs d’activités :</h6>
               </div>
               <div class="col-lg-6 col-md-6 pl-5 pr-5">
                  <h2 class="mt-5 a-93 mb-5">Les chiffres pour la Sécurité Privée <br> 2016</h2>
                  <h5 class="mt-4">Nos arguments</h5>
                        <p>Les évènements, les tensions et les attentats de ces dernières années ont accru le sentiment d’insécurité des citoyens et ont renforcé le marché de la sécurité et ce  depuis plusieurs années.

                        Cette évolution a entraîné une augmentation de l’embauche d’agents de sécurité privée. Plusieurs mesures préventives ont été adoptées tel que les contrôles dans les espaces publics, centres commerciaux ou les salles de spectacle. Par ailleurs, nous pouvons aussi noter la hausse des installations de surveillance et télésurveillance.

                        Le marché de la sécurité s’envole depuis fin 2015, mais les chiffres pour la sécurité privée en 2016 sont saisissants.

                        C’est un grand élan qu’ont subit les entreprises de sécurité privée, tant la demande s’est accentuée depuis les années 2000, en particulier depuis la fin 2015. Les chiffres parlent d’eux même, en effet suite à la crise économique de 2008 le marché s’était stabilisé pour repartir de nouveau courant 2010. On note une augmentation de presque 30 % de janvier 2010 à décembre 2015. Le chiffre d’affaires pour le marché de la sécurité a atteint 8,3 milliards d’euros en 2015.</p>

                  <h5 class="mt-2">Sûreté – Malveillance – Gardiennage – Télésurveillance</h5>
                        <p> 1- Sécurité privée

                        Comprenant les services de garde, patrouille, transports de fonds et d’agents de sécurité. Le secteur de la sécurité privée est le plus important puisqu’il représente 77% du chiffre d’affaires du marché de la sécurité.

                        Les attentats survenus en 2015 contribuent peut-être à une croissance de l’activité de la sécurité globale.
                        La hausse est progressive, une tendance régulière s’installe début 2016 avec une augmentation de 2.7% au premier trimestre 2016. Notons enfin, le déroulement de l’Euro 2016 de football en France de juin à juillet. Durant ce second trimestre, en plein euro 2016, le marché des systèmes de sécurité a bondi de 3.9%, de même pour les activités de sécurité privée pour 3.3%.</p>

                        <p>2-     Les systèmes de sécurité

                              Comprenant les opérateurs de surveillance et télésurveillance des systèmes de sécurité. Ainsi que l’installation et la maintenance de ces systèmes. Les systèmes de sécurité représentent 19,5 % du CA du marché de la sécurité.
                              Les systèmes de sécurité connaissent la hausse la plus significative. En effet, le chiffre d’affaires a augmenté d’environ 45 % entre janvier 2010 et janvier 2016. Pour l’année 2015 l’augmentation a été de 11% ! La demande reste croissante pour l’installation de vidéosurveillance et de systèmes de contrôle d’accès.</p>

                        <p>3-     Enquêtes – Détectives

                              Le secteur des activités d’enquête, regroupant l’activité des détectives représente 3% du chiffre d’affaires du marché de la sécurité.

                              En conclusion, le marché se consolide, les chiffres pour la Sécurité Privée sont en augmentation constante. Mais il faut rester vigilant sur les marges afin de ne pas dégrader la qualité des prestations.  De plus, les futures obligations en termes de formation obligent les entreprises de sécurité à se structurer vers une exigence toujours plus forte.

                              </p><p>Better Services for Leaders *
                              * le meilleur pour les leaders</p>

               </div>

            </div>
         </div>
      </section>
      <!-- End About -->
      <!-- What We Provide -->
      <section class="section-padding">
         <div class="section-title text-center mb-5">
            <h2>E-Guard met à dispositions</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-4">
                  <div class="mt-4 mb-4"><i class="material-icons">my_location</i></div>
                  <h5 class="mt-3 mb-3">Nos Agent sont Localisé</h5>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="mt-4 mb-4"><i class="material-icons">hourglass_empty</i></div>
                  <h5 class="mb-3">Gagnez Du Temps</h5>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="mt-4 mb-4"><i class="material-icons">my_location</i></div>
                  <h5 class="mt-3 mb-3">Agents Polyglote</h5>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</p>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-4 col-md-4">
                  <div class="mt-4 mb-4"><i class="material-icons">https</i></i></div>
                  <h5 class="mb-3">Accèes rapide</h5>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked.</p>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="mt-4 mb-4"><i class="material-icons">grade</i></i></div>
                  <h5 class="mt-3 mb-3">Nos Agents sont Gradé</h5>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="mt-4 mb-4"><i class="material-icons">fingerprint</i></i></div>
                  <h5 class="mt-3 mb-3">Traçabilité</h5>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</p>
               </div>
            </div>
         </div>
      </section>
      <!-- End What We Provide -->
      <!-- Trusted Agents -->
      <section class="section-padding bg-white">
         <div class="section-title text-center mb-5">
            <h2>Nos partenaires</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-4">
                  <div class="agents-card text-center">
                     <%= image_tag "/images/lu.jpg", :class=> "card-img-fluid mb-4"%>
                     <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                     <h6 class="mb-0 text-success">- Lieu Unique</h6>
                     <small>Lieu Unique</small>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="agents-card text-center">
                     <%= image_tag "cm1", :class=> "card-img-fluid mb-4"%>
                     <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                     <h6 class="mb-0 text-success">- Crédit mutuelle</h6>
                     <small>Crédit-mutuelle</small>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="agents-card text-center">
                     <%= image_tag "axa", :class=> "card-img-fluid mb-4"%>
                     <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                     <h6 class="mb-0 text-success">- Axa</h6>
                     <small>Axa Assurances</small>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Trusted Agents -->
      <!-- Join Team -->
      <section class="section-padding bg-dark text-center">
         <h2 class="text-white mt-0">Join our professional team & agents<br>to start selling your house</h2>
         <p class="text-white mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
         <button type="button" class="btn btn-success">Contact Us</button> <button type="button" class="btn btn-outline-success">Read More</button>
      </section>
      <!-- End Join Team -->