      <!-- Properties List -->
      <section class="section-padding">
         <div class="section-title text-center mb-5">
            <h2>Agents Vérifié</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-4">
                  <div class="card card-list">
                     <a href="#">
                        <span class="badge badge-success">Disponible</span>
                        <%= image_tag "/images/agent1.jpg", :class=> "card-img-top", :alt=> "Card image cap"%>
                        <div class="card-body">
                           <h5 class="card-title">Agent de Sécurité Incendie</h5>
                           <h6 class="card-subtitle mb-2 text-muted"><i class="material-icons">my_location</i> Nantes</h6>
                           <h2 class="text-success mb-0 mt-3">
                              €43,000 <small>/heure</small>
                           </h2>
                        </div>
                        <div class="card-footer">
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>1</strong></span>
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>2</strong></span>
                           <span><i class="mdi mdi-move-resize-variant"></i> Rayon : <strong>30 km</strong></span>
                        </div>
                     </a>
                  </div>
               </div>
<div class="col-lg-4 col-md-4">
                  <div class="card card-list">
                     <a href="#">
                        <span class="badge badge-secondary">Indisponible</span>
                        <%= image_tag "/images/agent1.jpg", :class=> "card-img-top", :alt=> "Card image cap"%>
                        <div class="card-body">
                           <h5 class="card-title">Agent de Proximité</h5>
                           <h6 class="card-subtitle mb-2 text-muted"><i class="material-icons">my_location</i> Nantes</h6>
                           <h2 class="text-success mb-0 mt-3">
                              €43,000 <small>/heure</small>
                           </h2>
                        </div>
                        <div class="card-footer">
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>1</strong></span>
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>2</strong></span>
                           <span><i class="mdi mdi-move-resize-variant"></i> Rayon : <strong>30 km</strong></span>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="card card-list">
                     <a href="#">
                        <span class="badge badge-success">Disponible</span>
                        <%= image_tag "/images/agent1.jpg", :class=> "card-img-top", :alt=> "Card image cap"%>
                        <div class="card-body">
                           <h5 class="card-title">Agent de Surveillance</h5>
                           <h6 class="card-subtitle mb-2 text-muted"><i class="material-icons">my_location</i> Nantes</h6>
                           <h2 class="text-success mb-0 mt-3">
                              €43,000 <small>/heure</small>
                           </h2>
                        </div>
                        <div class="card-footer">
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>1</strong></span>
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>2</strong></span>
                           <span><i class="mdi mdi-move-resize-variant"></i> Rayon : <strong>30 km</strong></span>
                        </div>
                     </a>
                  </div>
               </div>
            <div class="row">
               <div class="col-lg-4 col-md-4">
                  <div class="card card-list">
                     <a href="#">
                        <span class="badge badge-danger">Disponible</span>
                        <%= image_tag "/images/agent2.jpg", :class=> "card-img-top", :alt=> "Card image cap"%>
                        <div class="card-body">
                           <h5 class="card-title">Agent de Surveillance</h5>
                           <h6 class="card-subtitle mb-2 text-muted"><i class="material-icons">my_location</i> Nantes</h6>
                           <h2 class="text-success mb-0 mt-3">
                              €43,000 <small>/heure</small>
                           </h2>
                        </div>
                        <div class="card-footer">
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>1</strong></span>
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>2</strong></span>
                           <span><i class="mdi mdi-move-resize-variant"></i> Rayon : <strong>30 km</strong></span>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="card card-list">
                     <a href="#">
                        <span class="badge badge-success">Disponible</span>
                        <%= image_tag "/images/agent2.jpg", :class=> "card-img-top", :alt=> "Card image cap"%>
                        <div class="card-body">
                           <h5 class="card-title">Agent de Surveillance</h5>
                           <h6 class="card-subtitle mb-2 text-muted"><i class="material-icons">my_location</i> Nantes</h6>
                           <h2 class="text-success mb-0 mt-3">
                              €43,000 <small>/heure</small>
                           </h2>
                        </div>
                        <div class="card-footer">
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>1</strong></span>
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>2</strong></span>
                           <span><i class="mdi mdi-move-resize-variant"></i> Max-Rayon : <strong>30 km</strong></span>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="card card-list">
                     <a href="#">
                        <span class="badge badge-success">Disponible</span>
                        <%= image_tag "/images/agent2.jpg", :class=> "card-img-top", :alt=> "Card image cap"%>
                        <div class="card-body">
                           <h5 class="card-title">Agent de Surveillance</h5>
                           <h6 class="card-subtitle mb-2 text-muted"><i class="material-icons">my_location</i> Nantes</h6>
                           <h2 class="text-success mb-0 mt-3">
                              €43,000 <small>/heure</small>
                           </h2>
                        </div>
                        <div class="card-footer">
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>1</strong></span>
                           <span><i class="material-icons">verified_user</i> SSIAP : <strong>2</strong></span>
                           <span><i class="mdi mdi-move-resize-variant"></i> Max-Rayon : <strong>30 km</strong></span>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Properties List -->