<!-- Blog -->
      <section class="section-padding border-top">
         <div class="section-title text-center mb-5">
            <h2>Blog</h2>
            <p>Lorem ipsum dolor sit amet.</p>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-4">
                  <div class="card blog-card">
                     <a href="#">
                        <%= image_tag "agent4.jpeg", :class=> "card-img-top", :alt=> "Card image cap"%>
                        <div class="card-body">
                           <span class="badge badge-success">House/Villa</span>
                           <h6>Possimus aut mollitia eum ipsum</h6>
                           <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                        </div>
                        <div class="card-footer">
                           <p class="mb-0"><%= image_tag "agent4.jpeg", :class=> "rounded-circle"%> <strong>Mohamed Oullami</strong> On October 03, 2018</p>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="card blog-card">
                     <a href="#">
                        <%= image_tag "agent4.jpeg", :class=> "card-img-top", :alt=> "Card image cap"%>
                        <div class="card-body">
                           <span class="badge badge-danger">Shop/Showroom</span>
                           <h6>Consectetur adipisicing elit</h6>
                           <p class="mb-0">Cnsectetur ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                        </div>
                        <div class="card-footer">
                           <p class="mb-0"><%= image_tag "agent4.jpeg", :class=> "rounded-circle"%> <strong>Mohamed Oullami</strong> On October 05, 2018</p>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="card blog-card">
                     <a href="#">
                        <%= image_tag "agent4.jpeg", :class=> "card-img-top"%>
                        <div class="card-body">
                           <span class="badge badge-info">Industrial Building</span>
                           <h6>Fugiat odio officiis odit</h6>
                           <p class="mb-0">Mollitia ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                        </div>
                        <div class="card-footer">
                           <p class="mb-0"><%= image_tag "agent4.jpeg", :class=> "rounded-circle"%> <strong>Mohamed Oullami</strong> On October 06, 2018</p>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Blog -->